<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fake Twitter</title>
<!--    <link href="{% static 'css/style.css' %}" rel="stylesheet">-->
</head>
<body>
    {% if user.is_authenticated %}
        <h1>Hello {{ user.username }}</h1>
        <a href="{% url 'logout' %}">Log Out</a>
        <br>
        <a href="{% url 'newPost' %}">Create New Post</a>
        <a href="{% url 'testView' %}">Test Create View</a>
        <p>awqeqweqwe</p>
    {% else %}
        <h1>You are not logged in</h1>
        <a href="{% url 'login'%}">Log In</a>
        <br>
        <a href="{% url 'registration'%}">Registration</a>
    {% endif %}
    {% for object in object_list %}
        <h1><a href="{% url 'post' object.id %}">{{ object.title }}</a></h1>
        <h2>{{ object.author }}</h2>
        <h6>{{ object.language }}</h6>
        <p>{{ object.body }}</p>
    {% endfor %}
</body>
</html>